{
  "extends": [
    "eslint-config-airbnb/legacy"
  ],
  "globals": {
    "should": false,
    "describe": false,
    "it": false,
    "expect": false,
    "beforeEach": false,
    "afterEach": false
  },
  'rules': {
  }
}
